{% if music_albums %}
<h3 class="text-uppercase text-white">{{term}} albums:</h3>
<div class="row">
        {% for album in music_albums %}
            <div class="col-3 alert ">
              <ul>
                  <li class="list-group-item list-group-item-action list-group-item-dark ubication">
                        <p class="tituloA"><b>{{album.collection_name}}</b></p>
                        <a href="{{album.artwork_url_100}}"><img src="https://icon-icons.com/icons2/447/PNG/32/Disc_128x128_43402.png"/></a>
                       
                      
                  </li>
                  <a  href="{{album.collection_view_url}}" class="list-group-item ubication2">
                        <img src="{{album.artwork_url_100}}" class="ubication">
                        <small class="badge badge-warning"><p class="tituloG">{{album.primary_genre_name}}</small>
                        </p>
                    </a>
                    
              </ul>
              
            </div>
            <style>
                .tituloA{
                    font-family: 'El Messiri', sans-serif;
                    text-align: center;
                    color:#0D0837; 
                    text-shadow: 2px 2px 2px grey;
                    width:100%; 
                                   overflow:hidden;
                                    white-space:nowrap;
                                    text-overflow: ellipsis;
                }
                .tituloG{
                    font-family: 'Marmelad', sans-serif; 
                }
                .ubication{
                    text-align: center;
                    margin: auto;
                
                }
                .ubication2{
                    text-align: center;
                    margin: auto;
                    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                }
            </style>
        {% endfor %}
    <hr>
</div>
{% endif %}





