{% if music_artists %}
    <h3 class="text-uppercase text-white">Match artists:</h3>
    <div class="row px-5">
            {% for artist in music_artists %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                <a class="badge badge-primary" href="{{artist.artist_link_url}}">{{artist.artist_name}}</a>
            </div>
        {% endfor %}
        <hr>
    </div>
{% endif %}

