<form method="POST" action="/">
    <div class="form-row justify-content-center">
        <div class="col-md-5 text-center">
            <div class="input-field">
                <input class="form-control"  name="search" type="text" placeholder="Type to search..." />
            </div>
        </div>
    </div>
</form>