{% if tracks %}
    <h3 class="text-uppercase text-white">{{term}} tracks:</h3>
    <div class="card-group ">
        <div class="row px-5">
        {% for track in tracks %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 my-2 px-2">
                
                    <div class="card mb-3" style="border: none !important;">
                           
                        <img src="{{track.artwork_url_100}}" class="card-img-top" alt="...">
                        
                        <div class="card-body p-2 bg-secondary text-white textos">
                                <a href="{{track.track_view_url}}"><img src="https://icon-icons.com/icons2/270/PNG/32/Music_29918.png"/></a>
                            <small class="fuente"><b>{{track.track_name}}</b></small>
                            <style>
                                .textos{
                                    width:100%; 
                                   overflow:hidden;
                                    white-space:nowrap;
                                    text-overflow: ellipsis;
                                }
                                .fuente{
                                    font-family: 'IBM Plex Sans', sans-serif;
                                    
                                }
                            </style>
                            
                        </div>
                       
                        
                    </div>
                   
            </div>
        {% endfor %}
       
    </div>
    </div>
    
{% endif %}

