<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
<style>
body {
    background-image: url("../static/landing.jpg");
    background-size: cover;
}

.container{
    background-color: lightslategrey;
    opacity: 0.90;
}

a{
 color: black;
}
.row{
    opacity: 1;
}
.col{
    size: auto;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
{% if data %}
    <title>{{ data.name }}</title>
{% else %}
    <title>Busqueda iTunes</title>
{% endif %}
</head>
<body>
    <div class="container pt-4">
        <form method="POST" action="/">
            <div class="form-row justify-content-center">
                <div class="col-md-5 text-center">
                    <div class="input-field">
                        <input class="form-control"  name="search" type="text" placeholder="Type to search..." />
                    </div>
                </div>
            </div>
            {% if tracks %}
                <h1>{{term}} tracks:</h1>
                <div class="row">
                        {% for track in tracks %}
                            <div class="col text-left">
                              <p>{{track.track_name}}</p>
                                <a href="{{track.track_view_url}}">
                                    <img src="{{track.artwork_url_100}}" class="img-fluid">
                                </a>
                            </div>
                        {% endfor %}
                    <hr>
                </div>
            {% endif %}

            {% if music_artists %}
                <h1>Match artists:</h1>
                <div class="row">
                        {% for artist in music_artists %}
                            <div class="col text-left">
                              <a href="{{artist.artist_link_url}}">{{artist.artist_name}}</a>
                            </div>
                        {% endfor %}
                    <hr>
                </div>
            {% endif %}

            {% if music_albums %}
                <h1>{{term}} albums:</h1>
                <div class="row">
                        {% for album in music_albums %}
                            <div class="col text-left">
                              <p>{{album.collection_name}}</p>
                                <p>{{album.primary_genre_name}}</p>
                                <a href="{{album.collection_view_url}}">
                                    <img src="{{album.artwork_url_100}}" class="img-fluid">
                                </a>
                            </div>
                        {% endfor %}
                    <hr>
                </div>
            {% endif %}
        </form>
    </div>

</body>
</html>
